.idea/**
reports/**
htmlcov/**
.coverage/**
*.pyc

.vagrant
vagrant-setup.sh
Vagrantfile

# virtualenv
lib/
include/
share/
bin/
pip-selfcheck.json
man/
.Python
local/
dev-environment/

# environments
environments
